.datatable {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-collapse: collapse;
}

.datatable tbody td {
	padding: 3px;
	border: 1px dotted;
}

.datatable tbody tr:hover {
	background: #007F16;
	color: #fff;
}

.header {
	background-color:#FF9B40;
}